<script>
		document.write('<ins class="kakao_ad_area" style="display:none;" data-ad-unit = "DAN-D2nmR1bJfgRPlAK2" data-ad-width = "250" data-ad-height = "250"></ins> <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async><\/script>');
  	document.write('<ins class="kakao_ad_area" style="display:none;" data-ad-unit = "DAN-TNbV5lupoLGSUAzA" data-ad-width = "250" data-ad-height = "250"></ins> <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async><\/script>');
  	document.write('<ins class="kakao_ad_area" style="display:none;" data-ad-unit = "DAN-TNbV5lupoLGSUAzA" data-ad-width = "250" data-ad-height = "250"></ins> <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async><\/script>');
</script>


